In [4]:
# Import our dependencies
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [5]:
# Import csv
from google.colab import files
my_file = files.upload()
df = pd.read_csv("charity_data.csv")

Saving charity_data.csv to charity_data.csv

In [6]:
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# view column names for copy/paste use
df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [8]:
df["ASK_AMT"].value_counts()

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [9]:
# drope NAME and EIN columns
df= df.drop(columns=["EIN","NAME"], axis=1)

In [10]:
# view df to confirm dropped columns
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# create list of dtypes to help determine unique values
df_cat=df.dtypes[df.dtypes == "object"].index.tolist()

In [12]:
# display number of unique values
df[df_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [13]:
# see how many unique values in column to see if bucketing is needed
df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# set up binning for application type column by normalizing data in column, choose cutoff point of 155 based on above value_counts
frequencies = df["APPLICATION_TYPE"].value_counts(normalize=True, ascending=True)
frequencies

T17    0.000029
T15    0.000058
T29    0.000058
T14    0.000087
T25    0.000087
T2     0.000466
T12    0.000787
T13    0.001924
T9     0.004548
T10    0.015394
T7     0.021138
T8     0.021488
T19    0.031050
T5     0.034199
T6     0.035453
T4     0.044958
T3     0.788274
Name: APPLICATION_TYPE, dtype: float64

In [15]:
# specify threshold
threshold = frequencies[(frequencies.cumsum() > 0.001).idxmax()]

In [16]:
# recreate column within df based on the cutoff point and rename all values that aren't past cutoff as Other
df['APPLICATION_TYPE']=df['APPLICATION_TYPE'].mask(df['APPLICATION_TYPE'].map(df['APPLICATION_TYPE'].value_counts(normalize=True)) < 0.001, 'Other')
df["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# see how many unique values in column to see if bucketing is needed
df["CLASSIFICATION"].value_counts().head(25)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
Name: CLASSIFICATION, dtype: int64

In [18]:
# set up binning for application type column by normalizing data in column, choose cutoff point of 103 based on above value_counts
frequencies_classification = df["CLASSIFICATION"].value_counts(normalize=True, ascending=True)
frequencies_classification.tail(25)

C6000    0.000437
C1800    0.000437
C1500    0.000466
C7120    0.000525
C8000    0.000583
C1240    0.000875
C2300    0.000933
C7200    0.000933
C1400    0.000991
C1230    0.001050
C1280    0.001458
C1300    0.001691
C7100    0.002187
C2800    0.002770
C2700    0.003032
C1270    0.003324
C5000    0.003382
C4000    0.005656
C1700    0.008368
C7000    0.022654
C2100    0.054900
C3000    0.055920
C1200    0.141025
C2000    0.177090
C1000    0.505146
Name: CLASSIFICATION, dtype: float64

In [19]:
threshold_classification = frequencies_classification[(frequencies_classification.cumsum() > 0.001).idxmax()]

In [20]:
df['CLASSIFICATION']=df['CLASSIFICATION'].mask(df['CLASSIFICATION'].map(df['CLASSIFICATION'].value_counts(normalize=True)) < 0.001, 'Other')
df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      355
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
Name: CLASSIFICATION, dtype: int64

In [21]:
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [22]:
#import onehotencoder
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(df_cat)
encode_df

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [23]:
# merge original df and encoded and then drop the categorical columns to leave only numerical columns
df_merge = df.merge(encode_df, left_index=True, right_index=True)
df_merge = df_merge.drop(df_cat, axis='columns')
df_merge.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# define dataframe for X and y
df_pre = df_merge.drop("IS_SUCCESSFUL", axis=1)
df_pre

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [25]:
# define dataframe for X and y
X = df_pre
y = df["IS_SUCCESSFUL"]

In [26]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
# scale the dataset
X_scaler = StandardScaler()
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the model - deep neural net
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 456

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 507
Trainable params: 507
Non-trainable params: 0
_________________________________________________________________

In [29]:
 # Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
 # Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6019 - accuracy: 0.6922
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5655 - accuracy: 0.7244
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7263
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7272
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7287
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7299
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7298
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7298
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7301
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7308
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7309
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7318
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7322
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7325
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7315
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7322
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7325
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7321
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7334
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7323
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7328
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7337
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7337
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7327
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7330
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7335
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7330
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7337
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7341
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7343
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7344
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7338
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7342
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7339
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7341
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7339
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7349
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7342
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7338
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7344
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7348
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7348
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7348
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7343
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7356
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7348
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7346
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7345
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7352
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7356
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7355
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7355
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7349
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7356
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7356
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7353
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7360
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7361
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7358
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7351
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7362
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7355
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7353
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7356
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7361
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7359
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7357
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7357
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7366
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7367
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7367
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7359
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7374
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7360
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7371
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7372
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7367
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7365

In [31]:
 # Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5511 - accuracy: 0.7294 - 505ms/epoch - 2ms/step
Loss: 0.5510664582252502, Accuracy: 0.7294460535049438

In [32]:
# The original accuracy was 72.96% with a loss of 55.16%.
# See AlphabetSoupCharity_Optimization.ipynb for optimization attempts to increase accuracy goal to 75%.

In [33]:
nn.save("AlphabetSoupCharity.h5")